*, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  font-family: Helvetica, Tahoma, Verdana, Arial;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  line-height: 1em;
  font-weight: 100;
}

a:link, a:visited, a:active {
  color: #428bca;
  text-decoration: underline;
  font-size: 1em;
  line-height: 1em;
}

a:hover {
  text-decoration: none;
}

.form_element_text {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0px 10px;
}

.input_text {
  height: 30px;
  line-height: 30px;
}

.form_textarea {
  resize: vertical;
  height: 150px;
  padding: 10px;
}

#page {
  width: 100%;
  background: #fff;
}

.middle {
  width: 1000px;
  margin: 0 auto;
  display: table;
  position: relative;
}

.header {width: 100%; min-height: 50px;}

.header:before {
  height: 50px;
  background: #428bca;
  width: 100%;
  position: absolute;
}

.top_logo, .top_menu, .top_login {
  float: left;
  position:relative;
}

.top_logo, .top_logo a:link, .top_logo a:visited, .top_logo a:active, .top_logo a:hover {
  color:#fff;
  line-height: 48px;
  width: 15%;
  text-decoration: none;
}

.top_logo a:link, .top_logo a:visited, .top_logo a:active, .top_logo a:hover  {
  font-size: 1.4em;
}

.top_menu {
  width: 80%;
}

.menu_opener {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 1.2em;
  display: none;
}

.top_login {
  float: right;
}

.top_login_icon {
  cursor: pointer;
}

.top_login_icon {
  padding: 0px 10px;
  line-height: 50px;
  font-size: 1.4em;
}

.menu {
  margin: 0;
  padding: 0;
  display:block;
}

.menu li {
  position: relative;
  list-style: none;
  float: left;
  height: 100%;
}

.menu li.active:after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  border: 8px solid;
  border-color: transparent transparent #fff transparent;
  bottom: -1px;
  left: 48%;
  z-index:5;

}

.menu li a {
  font-size: 1.1em;
  color: #eee;
  text-decoration: none;
  line-height: 50px;
  padding: 0px 10px;
  text-shadow: 1px 1px 0px #000;
  display: block;
}

.menu li a:hover {
  color: #fff;
}

#page_body {
  width: 100%;
  box-shadow: 0 0 5px #000;
  position: relative;
  z-index: 4;
}

#page_body:before, .middle:before, .header:before {
  display: table;
  content: " ";
}

#page_body:after, .middle:after, .header:after {
  clear: both;
  content: " ";
}

.content, .side_bar {
  float:left;
}

.content {
  width: 100%;
  /* width: 70%; */
}

.side_bar {
  display: none;
  width: 25%;
  margin-left: 4%;
}

.page_content {
  margin: 20px 0;
}

.h1_comment {
  color: #999;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-top:5px;
  display: block;
}

.page_article {
  margin: 15px 0px;
}

.page_article p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 8px 0;
}

#comment {
  display: block;
  width: 100%;
}

.comment_blocks {
  display:block;
  width: 100%;
}

.comment_blocks:after {
  clear: both;
}

.comment_block {
  border-left: 5px solid #eee;
  padding-left: 15px;
  padding: 10px 0px 10px 15px;
  margin: 10px 0px;
}

.comment_title {
  width: 100%;
  color: #777;
}

.comment_name {
  font-size: 1.3em;
  color: #000;
}
.comment_name a {
  color: #777;
  line-height: 1.1em;
  text-decoration: none;
}
.comment_name a:hover {
  text-decoration: underline;
}

.comment_date {
  float: right;
  font-size: 0.8em;
  margin-right: 10px;
  color: #aaa;
}

.comment_message {
  margin-top: 5px;
  padding-right: 10px;
  font-size: 1em;
}

.comment_block.comment_me {
  border-color: #428bca;
}

.comment_block:hover {
  background: #fafafa;
}

.comment_line {
  margin: 10px 0px;
}

.comment_form_title {
  width: 100%;
  color: #777;
  font-size: 1.3em;
  line-height: 1.1em;
  color: #777;
}

.comment_icon {
  width: 60px;
  height:60px;
  overflow: hidden;
  border-radius: 6px;
  float:left;
}

.comment_icon img {
  width: 100%;
}
.comment_form {
  position: relative;
  margin-left: 72px;
  border:1px solid #aaa;
  border-radius: 6px;
  padding: 10px;
}

.comment_form:after {
  content: " ";
  width: 0px;
  position: absolute;
  height: 0px;
  border: 6px solid;
  border-color: transparent #fff transparent transparent;
  top: 15px;
  left: -12px;
}

.comment_form:before {
  content: " ";
  width: 0px;
  position: absolute;
  height: 0px;
  border: 7px solid;
  border-color: transparent #777 transparent transparent;
  top: 14px;
  left: -14px;
}

.comment_entry {
  margin-top: 25px;
}

.comment_button {
  display: table;
  margin: 0 auto;
}

.col_com {
  margin: 5px 0px;
  text-align: center;
}

.block_title, .quest {
  font-size: 1.4em;
  line-height: 1.3em;
  padding: 10px;
}

.block, .quest_block {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 15px 0;
}

.block p, .quest_block p {margin: 0;}

.block_message, .answer {
  width: 100%;
  border-top: 1px solid #ccc;
  background: #f1f1f1;
  padding: 10px 10px;
}

.profil_photo {
  max-width: 200px;
  width: 25%;
  float:left;
}

.profil_photo img {
  max-width: 200px;
  width: 100%;
}

.profil_block {
  margin-top: 10px;
  margin-left: 220px;
}

.profil_title {
  font-size: 1.6em;
  line-height: 1.4em;
}

.profil_block_descr {
  margin: 15px 0;
}

.profil_block_descr span {
  font-size: 1.2em;
}

.footer {
  background: #f1f1f1;
  padding: 20px 0;
}

.footer p {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

@media screen and (max-width: 1024px)
{
  .profil_block {margin-left: 30%;}
  .header {position: relative;}
  .header:after {background: #222; position: absolute; height: 100%; width: 100%; top: 0;z-index: 1;}
  .header:before {z-index: 3;}
  .middle {}
  .middle {width: 80%; margin: 0 auto;}
  .menu_overflow {margin-top: 50px;}
  .menu_opener {display: block; float:right; position:relative; margin-top: -50px; padding: 0 10px;z-index:9;}
  .top_menu {
    /*z-index: 1050;*/
    width: 100%;
    float: none;}
  .top_logo {
    z-index: 9;
    position:absolute;
  }
  .top_login {margin-right: 35px; margin-top: -50px;z-index:9999;}
  .menu {position:relative; display: none; z-index:9;}
  .menu li {float: none; width: 100%;}
  .menu li.active:after {border: 0;}
  .modal {z-index:9999;}
}

@media screen and (max-width: 480px)
{
  .comment_form {width: 100%; padding: 70px 0px 0px; margin: 0;border: 0;}
  .comment_form:after {border: 0;}
  .comment_form:before {border: 0;}
  .profil_photo {border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; width: 64px; height: 64px; overflow: hidden; float: none; margin: 0 auto;}
  .profil_block {margin: 20px 0; text-align: center;}
}
